<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
            <meta name="author" content="Crebassa Gilles">
            <link rel="shortcut icon" href="{{ asset('assets/ico/favicon.png') }}">            
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block header_javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head><!-- end head -->
    <body>
        {% block navbar %}{% endblock %}            
        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
        {% block footer_javascripts %}{% endblock %}
    </body><!-- end body -->
</html>