<!DOCTYPE html>
<html lang="en">
  <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta name="description" content="Financial Manager">
            <meta name="author" content="Crebassa Gilles">
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">            
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block header_javascripts %}{% endblock %}
    </head>
    <body class="nav-md"> 
        <div class="container body">
            <div class="main_container">

                {% block leftsidebar %}{% endblock %}            
                {% block navbar %}{% endblock %}
                <div class="right_col" role="main">
                    <div class="">
                            {% for label, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                    <div class="alert alert-{{ label }}">
                                        {{ flash }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

            
            {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            {% block footer %}{% endblock %}

            {% block footer_javascripts %}{% endblock %}
    </body>
</html>
